ion-item{
  .cor span{
    color: blue;
    font-weight: 700;
  }  
}

.user-image {
  --size: 100px;
  margin: auto;
}
.photo-wrapper {
  justify-content: center;
}
ion-content {
  --padding-top: 15px;  
}

ion-title {
  text-align: center;
  color: #f3f3f3;
  font-weight: 600;
}

.new-background-color {
  --background: blue;
}
